<app-pokemon-bar></app-pokemon-bar>
<section class="container" *ngIf=" false; else loading">
  <div class="grid" >
    <mat-card  *ngFor="let i of [].constructor(8)">
      <a class="link-card">

        <div class="mat-card-img">
          <img src="https://images.pokemontcg.io/xy1/42.png" alt="pikachu">
        </div>


        <mat-card-content>
          <mat-card-title><span># 0000</span>Pikachu</mat-card-title>
           <p>
             <span>Type:</span>
             <span class="mat-card-pills">Lightning</span>
           </p>
        </mat-card-content>

      </a>
    </mat-card>
  </div>
</section>

<ng-template #loading>
  <div class="container content" >
    <div class="grid" >

      <mat-card *ngFor="let i of [].constructor(4)">

        <div class="mat-card-img"></div>

        <mat-card-content>
          <mat-card-title><span></span></mat-card-title>
          <p></p>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</ng-template>


